<div class="des">
    <div class="video-card" role="button" aria-label="Play video">
        <div class="thumbnail" [style.background-image]="'url(' + video.thumbnailImageUrl + ')'">
          <img src="{{video.thumbnailImageUrl}}" alt="Thumbnail" class="thumbnail-img">
          <div class="duration">{{ uploadService.getTimeFormat(video.videoDuration) }}</div>
        </div>
    </div>
    <div class="video-details">
        <h3 class="video-title">{{ video.originalFileName }}</h3>
        <div class="video-meta mb-4 text-muted">
            <p class="video-stats">{{ video.totalViews }} views • Streamed {{ video.creationDateTime + 'Z' | timeago }}</p>
            <p class="video-channel">{{ video.ownerUserName }}</p>
        </div>
        <p class="video-desc text-muted">
            {{!video.videoDescription ? 'No description' : video.videoDescription.substring(0, 40) + '....'}}
        </p>
    </div>
    <div *ngIf="myVideo" class="actions">
        <button class="watch" (click)="$event.stopPropagation(); openInNewTab(video.id)"><i class="fa-solid fa-play me-1"></i> Watch</button>
        <button class="delete" (click)="$event.stopPropagation(); deleteVideo(video.id)"><i class="fa-solid fa-trash me-1"></i>delete</button>
    </div>
</div>
