<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
      <a class="navbar-brand" routerLink="/streaming-hub">
        <img src="./assets/brand.webp" alt="Streaming App Icon" class="me-2" style="max-height: 35px; border-radius: 50%;">Streaming App
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <app-nav-search class="ms-auto"></app-nav-search>
      <ng-container *ngIf="(authService.loadedUser | async)">
          <ul class="navbar-nav ms-auto mb-2 me-3 mb-md-0">

            <li class="nav-item">
              <a class="nav-link" aria-current="page" routerLinkActive="active"  (click)="goToUpload()">
                <img src="./assets/upload.svg" alt="Streaming App Icon" class="me-2" style="height: 40px; cursor: pointer;">
              </a>
            </li>

          </ul>
      </ng-container>

        <div class="dropdown" dropdown style="cursor: pointer;"  *ngIf="(authService.loadedUser | async) as user">
          <a class="dropdown-toggle text-light text-decoration-none" dropdownToggle>Welcome {{user.knownAs}}</a>
          <div class="dropdown-menu mt-3" *dropdownMenu>
            <a class="dropdown-item" routerLink="my-profile">Edit Profile</a>
            <a class="dropdown-item" routerLink="my-streams">My Streams</a>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </div>
          

        <form *ngIf="!(authService.loadedUser | async)" class="d-flex" (ngSubmit)="login(authForm)" #authForm="ngForm" autocomplete="off">
          <input class="form-control me-2" type="text" placeholder="Username or email..." aria-label="text" required ngModel name="loginProvider">
          <input class="form-control me-2" type="password" placeholder="Password..." aria-label="password" required ngModel name="password">
          <button class="btn btn-success" type="submit">Login</button>
        </form>
    </div>
  </nav>