
<div class="video-card" (click)="clickVideo()" role="button" aria-label="Play video">
  <div class="thumbnail" [style.background-image]="'url(' + video.thumbnailImageUrl + ')'">
    <video class="video-preview" [src]="video.videoUrl" muted loop></video>
    <img src="{{video.thumbnailImageUrl}}" alt="Thumbnail" class="thumbnail-img">
    <div class="duration">{{ uploadService.getTimeFormat(video.videoDuration) }}</div>
  </div>
  <div class="video-details">
    <h3 class="video-title">{{ video.originalFileName }}</h3>
    <div class="video-meta">
      <p class="video-channel">{{ video.ownerUserName }}</p>
      <p class="video-stats">{{ video.totalViews }} views • Streamed {{ video.creationDateTime + 'Z' | timeago }}</p>
    </div>
  </div>
</div>
