<div class="video-card" routerLink="/watch">
  <div class="thumbnail" style="background-image: url('{{video.thumbnailImageUrl}}');">
    <div class="duration">
      13:58
    </div>
  </div>
  <div class="video-details">
    <div class="video-title">
      {{video.originalFileName}}
    </div>
    <div class="video-meta">
      <div class="video-channel">
        {{video.ownerUserName}}
      </div>
      <div class="video-stats">
        694K views • Streamed 9 months ago
      </div>
    </div>
  </div>
</div>